<div class="row insieme-forms">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="w-100 d-flex justify-content-between">
            <span>Purchase Orders</span>
          </div>
        </div>
        <div class="card-body">
          <ng-container [formGroup]="form">
              <div class="row mb-3">
                <div class="col-md-2 mb-1">
                  <input type="text" placeholder="Search" class="form-control" formControlName="searchText">
                </div>
                <div class="col-md-2 mb-1">
                  <select class="form-control" formControlName="orderStatus">
                    <option value="">All Status</option>
                    <option value="new">New Orders</option>
                    <option value="approved">Approved</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="delivered">Delivered</option>
                  </select>
                </div>
                <div class="col-md-2 mb-1">
                  <select class="form-control" formControlName="vendor_id">
                    <option value="">All Vendors</option>
                    <option *ngFor="let vendor of vendorList;" [value]="vendor.id">{{ vendor.firstName }} {{ vendor.lastName }}</option>
                  </select>
                </div>
                <div class="col-md-2 mb-1">
                  <select class="form-control" formControlName="sold_by">
                    <option value="">All Users</option>
                    <option *ngFor="let user of userList;" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-primary ml-3 mt-m1" (click)="getPurchaseOrders()">Filter</button>
                </div>
              </div>
          </ng-container>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th >Order ID</th>
                      <th>Order Amount</th>
                      <th>Order Points</th>
                      <th>Comments</th>
                      <th>Vendor</th>
                      <th>Sold By</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of orderList?.data;">
                      <td>{{ item.autoId}}</td>
                      <td>{{ item.totalOrderAmount}}</td>
                      <td>{{ item.totalPoints}}</td>
                      <td>
                        <span class="long_text">{{ (item.comments)?item.comments:"---"}}</span>
                      </td>
                      <td>
                        {{ item.vendorUserName }}
                      </td>
                      <td>
                        {{ item.soldUserName }}
                      </td>
                      <td>
                          <span class="text-success" *ngIf="item.orderStatus == 'approved'">Approved</span>
                          <span class="text-info" *ngIf="item.orderStatus == 'cancelled'">Cancelled</span>
                          <span class="text-danger" *ngIf="item.orderStatus == 'new'">New</span>
                          <span class="text-warning" *ngIf="item.orderStatus == 'delivered'">Delivered</span>
                      </td>
                      <td>
                        <div class="action">
                          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/order-manager/view/'+item.id]"><i class="fa fa-eye"></i></button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8" *ngIf="orderList?.total  <= 0">No orders to display</td>
                    </tr>
                  </tbody>
                </table>
  
                <ngb-pagination class="float-right" *ngIf="orderList?.total > orderList?.per_page" [collectionSize]="orderList?.total"
                  [page]="orderList?.current_page" [maxSize]="6" [pageSize]="orderList?.per_page" [rotate]="true" [ellipses]="true"
                  [boundaryLinks]="false" (pageChange)="getPurchaseOrders($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  