<div class="row insieme-forms">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="w-100 d-flex justify-content-between">
          <span>Countries</span>
          <button class="btn btn-primary ml-auto" [routerLink]="['/area-manager/state-list']">Add States</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <ng-container >Update Country</ng-container>
                </div>
                <div class="card-body">
                  <form [formGroup]="updateForm" (submit)="updateCountry($event)">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Enter Title"
                        formControlName="title">
                      <small class="error"
                        *ngIf="updateForm.controls['title'].touched && updateForm.controls['title'].errors?.required">Country title is
                        required</small>
                    </div>
        
                    
                    <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
              </div>
          </div>
          <div class="col-md-8">
            <div class="row mb-3" [formGroup]="form">
              <div class="col-md-2 mb-1">
                <input type="text" placeholder="Search" class="form-control" formControlName="searchText">
              </div>
              <div class="col-md-1">
                <button class="btn btn-primary ml-3 mt-m1" (click)="getCountries()">Filter</button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th >Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of countryList;">
                    <td>{{ item.country}}</td>
                    <td>
                      <div class="action">
                          <button class="btn btn-sm btn-primary" type="button" (click)="editCountry(item)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button class="btn btn-sm btn-danger ml-2" type="button" (click)="deleteCountry(item)">
                            <i class="fa fa-trash"></i>
                          </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" *ngIf="countryList?.length <= 0">No countries to display</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

