<div class="row">
  <div class="col-lg-6 col-md-8">
    <div class="card">
      <div class="card-header">
        <ng-container >Update Review</ng-container>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="updateReview($event)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Title"
              formControlName="name">
            <small class="error"
              *ngIf="form.controls['name'].touched && form.controls['name'].errors?.required">Name is
              required</small>
          </div>
          
          <div class="form-group">
            <label for="subTitle">Sub Title</label>
            <input type="text" class="form-control" id="subTitle" placeholder="Enter Title"
              formControlName="subTitle">
            <small class="error"
              *ngIf="form.controls['subTitle'].touched && form.controls['subTitle'].errors?.required">Sub Title is
              required</small>
          </div>

          <div class="form-group">
            <label for="shortDescription">Review</label>
            <my-app-editor [customForm]="form" customFormControl="review"></my-app-editor>
            <small class="error"
              *ngIf="form.controls['review'].touched && form.controls['review'].errors?.required">Review is
              required</small>
          </div>
          
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>